header,
footer{
    display: inline-block;
    width: 1100px;
    margin-left:calc(50% - 550px);
}
main
{
    display: inline-block;
    width: 1200px;
    margin-left:calc(50% - 600px);
}
.logo img{
    background-color: bisque;
    width: 100px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 60px;
    right: 100px;
  }
  .centered h1{
      font-size: 150px;
      color: black;
      margin: 0;
  }
  .centered p {
      font-size: 20px;
      color: black;
      text-align:left;
      font-weight: bold;
  }
  .line{
      margin: 0;
      padding: 2px;
      background-color: red;

  }
  .wrapper {
      margin: 0;
      margin-bottom: -5px;
      width: 100%;
  }
  .style-footer a{
      text-decoration: none;
  }
